.container_problem {
	background-color: rgba(255, 255, 255, 0.7);
}
.container {
	position: absolute;
	width: 100%;
	padding: 0px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	bottom: 20px;
}

.option_btn {
	flex-grow: 1;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.7);
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding: 5px 0px;
}

.option_btn:hover {
	scale: 1.1;
}

.option_btn_active {
	scale: 1.1;
	border: 2px solid rgba(255, 255, 255, 0.7);
	border-color: var(--purple);
}

.option_btn_img {
	rotate: 90deg;
	width: 60px;
	margin-bottom: -10px;
}
