.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rock_left_hand_img {
  width: 350px;
  margin-left: -15px;
  transition: 0.2s all ease-in;
}

.scissors_left_hand_img {
  width: 400px;
  margin-top: 25px;
  margin-left: -15px;
  transition: 0.2s all ease-in;
}

.paper_left_hand_img {
  width: 430px;
  margin-left: -40px;
  transition: 0.2s all ease-in;
}

.player_info {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
}

.person {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  border: 4px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--orange);
}

.person>svg {
  width: 50px;
  height: 50px;
  color: white;
}

.star_container {
  margin-left: 20px;
}

.star {
  color: white;
  width: 50px !important;
  height: 50px !important;
  margin: 0 4px;
}

.active_star {
  color: var(--red) !important;
}



.ken_death{
  position: absolute;
  bottom: 10%;
  left: 12%;
  width: 100%;
  height: calc(400px);
  object-fit: inherit;
  background: url(../../images/Character-VerP/Derrota/Derrota.gif);
  background-repeat: no-repeat;
  scale: .7;
}

.ken_run{
  position: absolute;
  bottom: 20%;
  left: 5%;
  width: 100%;
  height: calc(300px);
  object-fit: inherit;
  background: url(../../images/Character-VerP/Caminando/Caminando.gif);
  background-repeat: no-repeat;
  scale: .7;
  border: none;
}

.ken{
  position: absolute;
  bottom: 11%;
  left: 3%;
  width: 100%;
  height: calc(400px);
  background: url(../../images/Character-VerP/Ataque/Ataque.gif);
  background-repeat: no-repeat;
  scale: .7;
}
